* {
    box-sizing: border-box;
    margin: 0;
}
.carousel-items:empty {
    display: none;
}

.tox-tinymce {
    margin-top: 50px;
}

.mdc-dialog {
    z-index: 300 !important;
}

.header {
    min-width: 60px;
    color: #000;
}
.overline {
    height: 5px;
    background-color: #000;
    width: 20px;
}
.inline-block {
    display: inline-block;
}
.lead {
    font-weight: 700 !important;
    font-size: 20px !important;
    margin-top: 5px !important;
}

p.infoText {
    background-color: #f9f9f9;
    line-height: 1.33;
    text-align: left;
    color: #9e9e9e;
    padding: 8px 15px;
    width: 100%;
    font-weight: normal;
}

.settings-row {
    margin-top: 40px; 
    display: flex;
    align-items: center;
}

.settings-row > p {
    margin: 0
}

.settings-row > button {
    margin-left: 40px;
}

#main_container {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow-y: hidden;
}

#add_btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    padding: 5px;
    height: 4rem;
    width: 4rem;
    z-index: 100;
}

#add_btn::before {
    content: "";
    width: .2rem;
    height: 1rem;
    background-color: #fff;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#add_btn::after {
    content: "";
    width: 1rem;
    height: .2rem;
    background-color: #fff;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.dialog-input-container {
    margin-top: 20px;
}

.dialog-input-wrapper {
    padding: 10px;
    border-radius: 5px;
    background-color: #F1F1F1;
}

.dialog-input-wrapper input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 1rem;
    outline: none;
    color: rgba(0,0,0,.6);
}

.dialog-input-wrapper label.error {
    color: #f44336;
}

.dialog-input-error-message {
    color: #f44336;
    font-size: .8rem;
    margin-top: 5px;
    margin-left: 10px;
    visibility: hidden;
}

#my_container_div {
    padding: 0 1rem;
}

.content-container {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.content-container.small {
    height: calc(100vh - 341px);
}

.row {
    display: flex;
    flex-direction: row;
}

.add_score {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 0;
    transition: .5s ease;
    z-index: 100;
    overflow: hidden;
}

.add_score.show {
    height: 100%;
    padding: 1rem;
}

.add_score > .row {
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px 0; 
}

.add_score > .row > p {
    font-size: 15px;
    margin-left: 1rem;
    color: black;
}

.add_score > input {
    padding-bottom: 80vh;
    width: 100%;
    border: none;
    font-size: 15px;
}

#leaderboardDrawer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-height: 95vh;
    transition: max-height 0.5s ease-in;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px 30px 0px 0px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    z-index: 50;
}

.big {
    height: 95vh !important;
    overflow-y: scroll !important;
    transition: height 0.5s linear;
}

.hide {
    max-height: 0 !important;
    transition: max-height 0.5s ease-out !important;
    overflow: hidden !important;
}


.drawer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid lightgray;
    flex: 1;
    height: 45px;
}

#drawerHeader {
    padding-top: 1rem;
}

.drag-indicator {
    width: 40px;
    height: 4px;
    background-color: #DDDDDD;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    cursor: pointer;
}

.drawer-header-title {
    flex: 1;
    font-size: 20px;
    padding:10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    font-size: 15px;
    color: #999999;
}

.active-header {
    border-bottom: 2px solid var(--bf-theme-primary);
    color: initial !important;
}

.score-container {
    overflow-y: hidden;
    height: 276px;
    transition: height 0.5s linear;
}

.score-row {
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    font-size: 16px;
    font-weight: bold;
}

.loading-score-row {
    padding: 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    font-size: 16px;
    font-weight: bold;
}

.score-row.first {
    font-size: 20px !important;
    height: 100px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.score-row.second {
    font-size: 18px;
    height: 88px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.score-row.third {
    font-size: 18px;
    height: 88px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.score-row-left {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-score-rank {
    height: 18px;
    width: 18px;
    border-radius:4px;
    background-color: #f1f1f1;
}

/* .score-rank {

} */

.score-name {
    font-weight: normal;
}

.loading-score-name {
    height: 12px;
    width:120px;
    border-radius: 16px;
    background-color: #f1f1f1;
}

.loading-score-score {
    height: 12px;
    width:40px;
    border-radius: 16px;
    background-color: #f1f1f1;
    margin-top: 5px;
}

.score-image-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-container { 
    width: 30%;
    text-align: center;
}

.score-image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.loading-score-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.score-image.first {
    width: 80px;
    height: 80px;
    border: 4px solid #E4C100;
    box-shadow: 0px 0px 8px #B4840B;
}

.score-image.second {
    width: 64px;
    height: 64px;
    border:  4px solid #c4c4c4;
    box-shadow: 0px 0px 8px #979797;
}

.score-image.third {
    width: 64px;
    height: 64px;
    border: 4px solid #CD7F32;
    box-shadow: 0px 0px 8px #BB6B1B;
}

.score-scoreDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    width: 65%;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow:hidden;
    white-space:nowrap
}

#carousel {
    max-height: 25vh !important;
    min-height: auto !important;
    max-width: 100vw !important;
}

.plugin-slide > img {
    width: 100%;
    max-height: 25vh;
}


.settings-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    min-width: 500px;
    background-color: #fff;
    border:  1px solid #CDCDCD;
}

.show {
    display: block;
}

.modal-header {
    background-color: #EEF0F0;
    padding: 5px 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header > h4 {
    color: #5F5F5F;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-body {
      padding: 30px 10px !important;
      display: flex;
      align-items: center;
  }

  .modal-body > p {
      max-width: 90%;
      color: #000 !important;
  }

  .modal-footer {
      display: flex !important;
      flex-direction: row-reverse !important;
      padding: 10px 0;
      border: none !important;
  }

  .modal-footer > button {
      padding: 5px 30px !important;
  }

  .btn-cancel {
      background-color: var(--bf-theme-background);
      border: 1px solid #CDCDCD !important;
  }

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--bf-theme-success);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    font-size: 12px;
  }

  .show {
      visibility: visible;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #scoreSnackbar {
    visibility: hidden;
    width: 100%;
    color: #fff;
    padding: 0 5px;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    background-color: transparent !important;
  }

  .snackbar-content {
    border-radius: 5px;
    padding: 12px;
    background-color: #5F5F5F;
    display: flex;
    flex-direction:row;
    align-items:center;
  }

 .edit {
    margin-left:auto;
    background-color:'blue';
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    visibility: hidden;
}

.edit.show {
    visibility: visible;
}

.edit > p {
	margin:0;
    margin-right: 20px;
    cursor:pointer;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 16px;
}

.snack-close {
	font-size: 32px;
    margin:0;
    cursor: pointer;
}
  
  #scoreSnackbar.show {
    visibility: visible;
    -webkit-animation: toastfadein 0.5s, toastfadeout 0.5s 2.5s;
    animation: toastfadein 0.5s, toastfadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes toastfadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes toastfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes toastfadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes toastfadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }



